.upcoming {
    width:100%;
    background-color: #ff9999;
    text-align: center;
    padding: 8px;
    font-size:1rem;
}

.movie-poster {
    height: 100%;
    width: auto;    
}
.flex-container {

    display: flex;
    margin:10px;
}

.flex-container  > div {
    margin: 16px;
    
}

.left {
   width: 76%;
    padding: 20px;
}

.newleft {
    width:76%;
}

.newright {
    width:24%;
}

.right {
    padding-top: 20px;
    width: 24%;
}

.imgListMain {
    cursor: pointer;
    padding:120px;
}


